* {
    font-family: "Black And White Picture", system-ui !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

:root {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

/* styles website name on upper-left corner of webpage */
#outlets {
    font-size: 3em !important;
}

/* this section styles header & nav bar */
#header {
    background-color: black !important;
    margin: 0 !important;
}

#header a {
    color: white;
}

#header img, li {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

header img {
    display: flex !important;
    height: 100px !important;
    width: 165px !important;
}

#find-adventure {
    font-size: 2em !important;
    color: #FEB941 !important;
    animation: waveText 2s linear;
}

@keyframes waveText {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

/* Hero section styles */
#hero-section {
    height: 100vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    background-image: url(../images/OUTlets_hero.png) !important;
    background-size: cover;
    background-position: center;
    margin: 0 !important;
    border-bottom: solid black 5px;
    border-top: solid black 5px;
    color: black !important;
}

#hero-section p {
    padding-bottom: 27%;
}

/* Main section styles */
#main-section {
    height: 50vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    background-color: #FDE49E !important;
    margin: 0 !important;
    color: black !important;
}

#search-button {
    border: solid black 2px;
}

/* Bottom section styles */
#bottom-section {
    height: 30vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    background-color: #FDE49E !important;
    color: black !important;
    margin: 0 !important;
    border-bottom: dashed black 10px;
}

/* Footer section styles */
#footer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: black !important;
    margin: 0 !important;
    padding: 1rem 0;
    height: auto;
}

#footer h3, #footer p, #footer li, #footer a {
    display: flex !important;
    justify-content: center !important;
}

footer h3 {
    color: #DD761C !important;
}

footer li {
    color: #FEB941 !important;
}

footer a {
    color: #6DC5D1 !important;
}

footer p {
    color: #FEB941 !important;
}

/* Responsive styles */
@media (max-width: 992px) {
    #nav-bar {
        flex-direction: column;
    }

    #header img {
        height: 80px !important;
        width: auto !important;
    }

    #back {
        font-size: 1.5em !important;
    }

    #main-section {
        padding: 1rem;
    }

    #footer {
        padding: 0.5rem 0;
    }

    #hero-section, #main-section, #bottom-section {
        height: auto !important;
        padding: 2rem 1rem;
    }

    #hero-section p {
        padding-bottom: 2rem;
    }
}

/* styling for the modal
.pModal will need to be changed to reflect Let's Go button on current HTML page 1. */

.pModal {
    background-color: #6DC5D1;
    color: white;
}

.modal-header {
    padding: 2px 16px;
    background-color: #6DC5D1;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 25px 20px;
    background-color: #6DC5D1;
    color: white;
}

.modal-content {
    position: relative;
    background-color: #FDE49E;
    margin: auto;
    padding: 0;
    border: 1px solid #DD761C;
    width: 35%;
    box-shadow: 0 4px 8px 0 ;
}

.btn-btn-secondary {
    color: #DD761C;
    background-color: white;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

.btn-btn-primary {
    color: #DD761C;
    background-color: white;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

.btn-close {
    float: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Stylings for the input form */
