:root {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: "roboto", sans-serif;
}

/* styles website name on upper-left corner of webpage */
#outlets {
    font-size: 3em !important;
}

/* this section styles header & nav bar */
#header {
    background-color: gray;
}

#header a {
    color: white;
}

#header span, li {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

#about-us {
    font-size: 2em !important;
}

/* styles the hero section */
#hero-section {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

#hero-section p {
 color: black !important;
}

#main-section {
    height: 50vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    box-shadow: 5px 5px 5px gray;
}

/* styles the bottom section of the webpage */
#bottom-section {
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

/* this section styles the footer */
#footer {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    background-color: gray;
    margin: 0 !important;
    height: 25vh;
}

#footer h3, p, li, a {
    display: flex !important;
    justify-content: center !important;
    color: white !important;
}
