:root {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}

/* Andres css */

#hero-section {
    height: 50vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}